body {
  background-color: darkred;
}

h1 {
  color: black;
  text-algin: center;
}

p { 
  font-family: verdana;
  font-size: 20px;
}

.uno-card {
    width: 100px;
    height: 150px;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.uno-card:hover {
    transform: translateY(-10px);
}


.uno-card h2, .uno-card h3 {
    margin: 0;
    font-weight: bold;
}


.card-red { background-color: #ff5555; }
.card-blue { background-color: #5555ff; }
.card-green { background-color: #55aa55; }
.card-yellow { background-color: #ffaa00; }
.card-wild { background-color: #333333; }
.card-back { background-color: #111111; border-color: #ff5555; cursor: pointer; }